@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
 font-family: "Montserrat", sans-serif;
 background-color: grey;
}

.card {
 margin-inline: auto;
 margin-block: 2rem;
 width: 75%;
 padding: 4rem;
 border-radius: 15px;
 background-color: white;
 box-shadow: 0px 25px 40px 10px rgba(0, 0, 0, 0.1);
}

.container {
 margin: auto;
 width: 50%;
}

.title {
 line-height: 1;
}

.description {
 margin-bottom: 2rem;
 text-align: justify;
}

.contact-btn {
 font-size: 1.2rem;
 padding-block: 0.5rem;
 padding-inline: 2rem;
 background-color: black;
 color: white;
 border-radius: 20px;
 margin-bottom: 1rem;
}

.contact-btn:hover {
 cursor: pointer;
}

.download-link {
 display: block;
 color: black;
 font-weight: 600;
 text-decoration: none;
 margin-bottom: 3rem;
}

.socmed-link {
 color: black;
}

.download-icon {
 font-size: 1.2rem;
}

.socmed-group {
 margin: auto;
 width: 50%;
 display: flex;
 gap: 1rem;
 justify-content: center;
 margin-bottom: 3rem;
}

.fa-brands {
 font-size: 2rem;
}

.image-card {
 margin: auto;
 width: 50%;
 margin-bottom: 2rem;
 border-radius: 10px;
 box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
 border-radius: 15px;
 width: 100%;
}

.image-card-footer {
 padding: 1rem;
}

.name {
 text-align: center;
 line-height: 0;
}

.role {
 text-align: center;
}
